# cp env.example .env
# chmod 600 .env
# then fill in the below.
#
account=""

declare -A devices

# See README.md for auto-generate this content

devices[1,"key"]=""
devices[1,"pub"]=""
devices[1,"port"]=""

devices[2,"key"]=""
devices[2,"pub"]=""
devices[2,"port"]=""

devices[3,"key"]=""
devices[3,"pub"]=""
devices[3,"port"]=""

devices[4,"key"]=""
devices[4,"pub"]=""
devices[4,"port"]=""

devices[5,"key"]=""
devices[5,"pub"]=""
devices[5,"port"]=""

# use plain peer name for "simple" vpn, <ingress>,<egress> for multihop.
# ./mullrun.sh list gives a full list of available peers per country.
# NOTE that for multihop, fixed ports need to be used. Custom ports in
# devices[] above will be ignored.
devices[1,"peer"]="gb-lon-wg-003"
devices[3,"peer"]="gb-glw-wg-001,de-fra-wg-004"
devices[2,"peer"]="gb-mnc-wg-001"
devices[4,"peer"]="ch-zrh-wg-005,de-fra-wg-007"
devices[5,"peer"]="fr-par-wg-005,us-mkc-wg-105"
